@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

/* Gerais */

body {
    font-size: 'Roboto', sans-serif;
}
.row {
    margin: 0;
}
.container {
    padding: 70px 0;
}
p, li {
    color: #444;
    font-size: 14px;
}


/* Barra de Navegação */

.navbar-toggler-icon {
    background-image: url(../img/menu-icon.png);
  }
  
  header, .navbar {
      background-color: #1F2746;
  }
  #nav-container {
      padding-top: 0;
      padding-bottom: 0;
  }
  #logo {
    width: 200px;
    margin-left: 71px;
  }
  .navbar-brand {
      padding: 0;
      color: #fff;
  }
  .navbar-brand:hover {
      color: #fff;
  }
  #navbar-links a {
      color: #fff;
  }
  #navbar-links a:hover {
    color: #b1a6a6;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
      padding: 1rem .8rem;
  }
  
  
  
  /* BG */
  
  
  .container-fluid {
    padding: 200;
  }
  .bg {
    width: 100%;
    height: 650px;
    background-image: url(../img/img03.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  
  .flex {
    display: flex;
    margin-left: 285px;
    width: 649px;
    margin-top: 60px;
  }
  .res p {
      text-align: center;
      margin: auto;
      padding: 11px;
      font-size: 23px;
      color: white;
      font-family: 'Oswald', sans-serif;
  }
  .corpo {
  display: block;
  width: 800px;
  height: 3000px;
  background-color: white;
  }
  .filtro{
    display: block;
    height: 100px;
    width: 1000px;
    margin: 120px auto auto 180px;
    background-color: rgb(31,39,70);
    border-radius: 10px;

  }

  .filtro h1{
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    text-align: center;
    color: rgb(186, 32, 119);
    font-weight: bold;
  }
  .filtro h2{
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: left;
    font-size: 14pt;
    padding: 5px;
  }

  .opcao {
  width: 360px;
  height: 25px;
  margin: 0px 20px 70px 10px;
  font-size: 14px;
}
  .data{
  width: 130px;
  height: 25px;
  margin: 0px 10px 70px 10px;
  font-size: 14px; 
  }
  .botao{
  width: 100pt;
  left:0px;
  top: 3px;
  font-size: 13pt;
  color: white;
  background-color:rgb(186, 32, 119);
  position: relative;

  }

  .promocoes {
    display: block;
    height: 525px;
    width: 1000px;
    margin: 20px auto auto 180px;
    background-color: rgb(31,39,70);
    border-radius: 10px;
  }
  .promocoes h1{
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    text-align: center;
    color: rgb(186, 32, 119);
    font-weight: bold;
  }

  .promo1 {
    display: block;
    height: 450px;
    width: 300px;
    margin: 20px auto auto 20px;
    background-color: rgb(186, 32, 119);
    border-radius: 10px;
  }

  .imgpromo1{
    display: block;
    height: 270px;
    width: 270px;
    background-image: url(../img/cristo.jpg);
    background-size: cover;
    border-radius: 10px;
    position: relative;
    left: 15px;
    top: 15px;
  }

  .promo1 h1{
    color: white;
    font-size: 14pt;
    padding-top: 20px;
  }
  .promo1 p{
    color: white;
    padding: 0px 20px 0px 20px;
    text-align: justify;
  }

  .preco1 {
    display:block;
    background-color: rgb(31,39,70);
    border-radius: 10px;
    height: 31px;
    width: 150px;
    position: relative;
    left: 15px;
    bottom: 28px;
    border-color: white;
    border-style: ridge;
  }

  .preco1 h1{
    font-size: 14pt;
    text-align: center;
    padding: 0;
  }

  .promo2 {
    display: block;
    height: 450px;
    width: 300px;
    margin: 20px auto auto 40px;
    background-color: rgb(186, 32, 119);
    border-radius: 10px;
    position: absolute;
    top: 272px;
    left: 490px;
  }
    .imgpromo2{
    display: block;
    height: 270px;
    width: 270px;
    background-image: url(../img/mexico.jpg);
    background-size: cover;
    border-radius: 10px;
    position: relative;
    left: 15px;
    top: 15px;
  }

  .promo2 h1{
    color: white;
    font-size: 14pt;
    padding-top: 20px;
  }
  .promo2 p{
    color: white;
    padding: 0px 20px 0px 20px;
    text-align: justify;
  }
  .preco2 {
    display:block;
    background-color: rgb(31,39,70);
    border-radius: 10px;
    height: 31px;
    width: 150px;
    position: absolute;
    left: 15px;
    bottom: 17px;
    border-color: white;
    border-style: ridge;
  }

  .preco2 h1{
    font-size: 14pt;
    text-align: center;
    padding: 0;
  }

  .promo3 {
    display: block;
    height: 450px;
    width: 300px;
    margin: 20px auto auto 60px;
    background-color: rgb(186, 32, 119);
    border-radius: 10px;
    position: absolute;
    top: 272px;
    left: 800px;
  }
    .imgpromo3{
    display: block;
    height: 270px;
    width: 270px;
    background-image: url(../img/china.jpg);
    background-size: cover;
    border-radius: 10px;
    position: relative;
    left: 15px;
    top: 15px;
  }

  .promo3 h1{
    color: white;
    font-size: 14pt;
    padding-top: 20px;
  }
  .promo3 p{
    color: white;
    padding: 0px 20px 0px 20px;
    text-align: justify;
  }
  .preco3 {
    display:block;
    background-color: rgb(31,39,70);
    border-radius: 10px;
    height: 31px;
    width: 150px;
    position: absolute;
    left: 15px;
    bottom: 17px;
    border-color: white;
    border-style: ridge;
  }

  .preco3 h1{
    font-size: 14pt;
    text-align: center;
    padding: 0;
  }

  .reservar{
  width: 80pt;
  left:170px;
  top: 3px;
  font-size: 12pt;
  color: white;
  background-color:rgb(31,39,70);
  position: relative;
  border-radius: 10px;
  }

  .continente1 {
    display: block;
    height: 400px;
    width: 1000px;
    margin: 20px auto auto 180px;
    background-color: rgb(31,39,70);
    border-radius: 10px;
  }
  .continente1 h1{
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    text-align: center;
    color: rgb(186, 32, 119);
    font-weight: bold;
  }
  .cidade11{
    display: block;
    height: 160px;
    width: 460px;
    margin: 20px auto auto 60px;
    background-color: rgb(186, 32, 119);
    border-radius: 10px;
    position: absolute;
    top: 810px;
    left: 140px;
 }
  .imgcid11{
    display: block;
    height: 150px;
    width: 230px;
    background-image: url(../img/salar.jpg);
    background-size: cover;
    border-radius: 10px;
    position: relative;
    left: 5px;
    top: 5px;
  }
  .cidade11 h1{
    color: white;
    font-size: 14pt;
    padding-top: 20px;
  }
  .cidade11 p{
    color: white;
    padding: 0px 20px 0px 20px;
    text-align: justify;
  }
  .asidecid11{
    display: block;
    padding: 4;
    height: 150px;
    width: 230px;
    position: relative;
    left: 230px;
    bottom: 160px;
  }
  .reservarcid11{
  width: 80pt;
  left: 110px;
  bottom: 10px;
  font-size: 10pt;
  color: white;
  background-color:rgb(31,39,70);
  border-radius: 10px;
  position: relative;
  }
  .precocid11{
    display:block;
    background-color: rgb(31,39,70);
    border-radius: 10px;
    height: 25px;
    width: 90px;
    position: relative;
    left: 15px;
    bottom: 35px;
    border-color: white;
    border-style: ridge;
  }
  .precocid11 h1{
    font-size: 10pt;
    text-align: center;
    padding: 0;
    font-weight:normal;
  }
 
  .cidade12{
    display: block;
    height: 160px;
    width: 460px;
    margin: 20px auto auto 60px;
    background-color: rgb(186, 32, 119);
    border-radius: 10px;
    position: absolute;
    top: 810px;
    left: 640px;
  }
 .imgcid12{
    display: block;
    height: 150px;
    width: 230px;
    background-image: url(../img/machupichu.jpg);
    background-size: cover;
    border-radius: 10px;
    position: relative;
    left: 5px;
    top: 5px;
  }
  .cidade12 h1{
    color: white;
    font-size: 14pt;
    padding-top: 20px;
  }
  .cidade12 p{
    color: white;
    padding: 0px 20px 0px 20px;
    text-align: justify;
  }
  .asidecid12{
    display: block;
    padding: 4;
    height: 150px;
    width: 230px;
    position: relative;
    left: 230px;
    bottom: 160px;
  }
  .reservarcid12{
  width: 80pt;
  left: 110px;
  bottom: 10px;
  font-size: 10pt;
  color: white;
  background-color:rgb(31,39,70);
  border-radius: 10px;
  position: relative;
  }
  .precocid12{
    display:block;
    background-color: rgb(31,39,70);
    border-radius: 10px;
    height: 25px;
    width: 90px;
    position: relative;
    left: 15px;
    bottom: 35px;
    border-color: white;
    border-style: ridge;
  }
  .precocid12 h1{
    font-size: 10pt;
    text-align: center;
    padding: 0;
    font-weight:normal;
  }

  .cidade13{
    display: block;
    height: 160px;
    width: 460px;
    margin: 20px auto auto 60px;
    background-color: rgb(186, 32, 119);
    border-radius: 10px;
    position: absolute;
    top: 990px;
    left: 140px;
  }
 .imgcid13{
    display: block;
    height: 150px;
    width: 230px;
    background-image: url(../img/sandiego.jpg);
    background-size: cover;
    border-radius: 10px;
    position: relative;
    left: 5px;
    top: 5px;
  }
  .cidade13 h1{
    color: white;
    font-size: 14pt;
    padding-top: 20px;
  }
  .cidade13 p{
    color: white;
    padding: 0px 20px 0px 20px;
    text-align: justify;
  }
  .asidecid13{
    display: block;
    padding: 4;
    height: 150px;
    width: 230px;
    position: relative;
    left: 230px;
    bottom: 160px;
  }
  .reservarcid13{
  width: 80pt;
  left: 110px;
  bottom: 10px;
  font-size: 10pt;
  color: white;
  background-color:rgb(31,39,70);
  border-radius: 10px;
  position: relative;
  }
  .precocid13{
    display:block;
    background-color: rgb(31,39,70);
    border-radius: 10px;
    height: 25px;
    width: 90px;
    position: relative;
    left: 15px;
    bottom: 35px;
    border-color: white;
    border-style: ridge;
  }
  .precocid13 h1{
    font-size: 10pt;
    text-align: center;
    padding: 0;
    font-weight:normal;
  }
  .cidade14{
    display: block;
    height: 160px;
    width: 460px;
    margin: 20px auto auto 60px;
    background-color: rgb(186, 32, 119);
    border-radius: 10px;
    position: absolute;
    top: 990px;
    left: 640px;
  }
 .imgcid14{
    display: block;
    height: 150px;
    width: 230px;
    background-image: url(../img/campos.jpg);
    background-size: cover;
    border-radius: 10px;
    position: relative;
    left: 5px;
    top: 5px;
  }
  .cidade14 h1{
    color: white;
    font-size: 14pt;
    padding-top: 20px;
  }
  .cidade14 p{
    color: white;
    padding: 0px 20px 0px 20px;
    text-align: justify;
  }
  .asidecid14{
    display: block;
    padding: 4;
    height: 150px;
    width: 230px;
    position: relative;
    left: 230px;
    bottom: 160px;
  }
  .reservarcid14{
  width: 80pt;
  left: 110px;
  bottom: 10px;
  font-size: 10pt;
  color: white;
  background-color:rgb(31,39,70);
  border-radius: 10px;
  position: relative;
  }
  .precocid14{
    display:block;
    background-color: rgb(31,39,70);
    border-radius: 10px;
    height: 25px;
    width: 90px;
    position: relative;
    left: 15px;
    bottom: 35px;
    border-color: white;
    border-style: ridge;
  }
  .precocid14 h1{
    font-size: 10pt;
    text-align: center;
    padding: 0;
    font-weight:normal;
  }

  .continente2 {
    display: block;
    height: 400px;
    width: 1000px;
    margin: 20px auto auto 180px;
    background-color: rgb(31,39,70);
    border-radius: 10px;
  }
  .continente2 h1{
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    text-align: center;
    color: rgb(186, 32, 119);
    font-weight: bold;
  }
  .cidade21{
    display: block;
    height: 160px;
    width: 460px;
    margin: 20px auto auto 60px;
    background-color: rgb(186, 32, 119);
    border-radius: 10px;
    position: relative;
    bottom: 5px;
    right: 40px;
 }
  .imgcid21{
    display: block;
    height: 150px;
    width: 230px;
    background-image: url(../img/south.jpg);
    background-size: cover;
    border-radius: 10px;
    position: relative;
    left: 5px;
    top: 5px;
  }
  .cidade21 h1{
    color: white;
    font-size: 14pt;
    padding-top: 20px;
  }
  .cidade21 p{
    color: white;
    padding: 0px 20px 0px 20px;
    text-align: justify;
  }
  .asidecid21{
    display: block;
    padding: 4;
    height: 150px;
    width: 230px;
    position: relative;
    left: 230px;
    bottom: 160px;
  }
  .reservarcid21{
  width: 80pt;
  left: 110px;
  bottom: 10px;
  font-size: 10pt;
  color: white;
  background-color:rgb(31,39,70);
  border-radius: 10px;
  position: relative;
  }
  .precocid21{
    display:block;
    background-color: rgb(31,39,70);
    border-radius: 10px;
    height: 25px;
    width: 90px;
    position: relative;
    left: 15px;
    bottom: 35px;
    border-color: white;
    border-style: ridge;
  }
  .precocid21 h1{
    font-size: 10pt;
    text-align: center;
    padding: 0;
    font-weight:normal;
  }
 
  .cidade22{
    display: block;
    height: 160px;
    width: 460px;
    margin: 20px auto auto 60px;
    background-color: rgb(186, 32, 119);
    border-radius: 10px;
    position: relative;
    bottom: 186px;
    left: 460px;
  }
 .imgcid22{
    display: block;
    height: 150px;
    width: 230px;
    background-image: url(../img/mocambique.jpg);
    background-size: cover;
    border-radius: 10px;
    position: relative;
    left: 5px;
    top: 5px;
  }
  .cidade22 h1{
    color: white;
    font-size: 14pt;
    padding-top: 20px;
  }
  .cidade22 p{
    color: white;
    padding: 0px 20px 0px 20px;
    text-align: justify;
  }
  .asidecid22{
    display: block;
    padding: 4;
    height: 150px;
    width: 230px;
    position: relative;
    left: 230px;
    bottom: 160px;
  }
  .reservarcid22{
  width: 80pt;
  left: 110px;
  bottom: 10px;
  font-size: 10pt;
  color: white;
  background-color:rgb(31,39,70);
  border-radius: 10px;
  position: relative;
  }
  .precocid22{
    display:block;
    background-color: rgb(31,39,70);
    border-radius: 10px;
    height: 25px;
    width: 90px;
    position: relative;
    left: 15px;
    bottom: 35px;
    border-color: white;
    border-style: ridge;
  }
  .precocid22 h1{
    font-size: 10pt;
    text-align: center;
    padding: 0;
    font-weight:normal;
  }

  .cidade23{
    display: block;
    height: 160px;
    width: 460px;
    margin: 20px auto auto 60px;
    background-color: rgb(186, 32, 119);
    border-radius: 10px;
    position: relative;
    bottom: 185px;
    right: 40px;
  }
 .imgcid23{
    display: block;
    height: 150px;
    width: 230px;
    background-image: url(../img/marrocos.jpg);
    background-size: cover;
    border-radius: 10px;
    position: relative;
    left: 5px;
    top: 5px;
  }
  .cidade23 h1{
    color: white;
    font-size: 14pt;
    padding-top: 20px;
  }
  .cidade23 p{
    color: white;
    padding: 0px 20px 0px 20px;
    text-align: justify;
  }
  .asidecid23{
    display: block;
    padding: 4;
    height: 150px;
    width: 230px;
    position: relative;
    left: 230px;
    bottom: 160px;
  }
  .reservarcid23{
  width: 80pt;
  left: 110px;
  bottom: 10px;
  font-size: 10pt;
  color: white;
  background-color:rgb(31,39,70);
  border-radius: 10px;
  position: relative;
  }
  .precocid23{
    display:block;
    background-color: rgb(31,39,70);
    border-radius: 10px;
    height: 25px;
    width: 90px;
    position: relative;
    left: 15px;
    bottom: 35px;
    border-color: white;
    border-style: ridge;
  }
  .precocid23 h1{
    font-size: 10pt;
    text-align: center;
    padding: 0;
    font-weight:normal;
  }
  .cidade24{
    display: block;
    height: 160px;
    width: 460px;
    margin: 20px auto auto 60px;
    background-color: rgb(186, 32, 119);
    border-radius: 10px;
    position: relative;
    bottom: 366px;
    left: 460px;
  }
 .imgcid24{
    display: block;
    height: 150px;
    width: 230px;
    background-image: url(../img/cachoca.jpg);
    background-size: cover;
    border-radius: 10px;
    position: relative;
    left: 5px;
    top: 5px;
  }
  .cidade24 h1{
    color: white;
    font-size: 14pt;
    padding-top: 20px;
  }
  .cidade24 p{
    color: white;
    padding: 0px 20px 0px 20px;
    text-align: justify;
  }
  .asidecid24{
    display: block;
    padding: 4;
    height: 150px;
    width: 230px;
    position: relative;
    left: 230px;
    bottom: 160px;
  }
  .reservarcid24{
  width: 80pt;
  left: 110px;
  bottom: 10px;
  font-size: 10pt;
  color: white;
  background-color:rgb(31,39,70);
  border-radius: 10px;
  position: relative;
  }
  .precocid24{
    display:block;
    background-color: rgb(31,39,70);
    border-radius: 10px;
    height: 25px;
    width: 90px;
    position: relative;
    left: 15px;
    bottom: 35px;
    border-color: white;
    border-style: ridge;
  }
  .precocid24 h1{
    font-size: 10pt;
    text-align: center;
    padding: 0;
    font-weight:normal;
  }

/* Footer */



.site-footer {
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
  }
  .site-footer hr {
    border-top-color:#bbb;
    opacity:0.5
  }
  .site-footer hr.small {
    margin:20px 0
  }
  .site-footer h6 {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  .pague {
    width: 319px;
    margin-left: -28px;
    margin-top: 37px;
  }
  .site-footer a {
    color:#737373;
  }
  .site-footer a:hover {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links {
    padding-left:0;
    list-style:none
  }
  .footer-links li {
    display:block
  }
  .footer-links a {
    color:#737373
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links.inline li {
    display:inline-block
  }
  .site-footer .social-icons {
    text-align:right
  }
  .site-footer .social-icons a {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  .copyright-text {
    margin:0
  }
  @media (max-width:991px) {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px) {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }
  .social-icons {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a {
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover {
    background-color:#00aced
  }
  .social-icons a.linkedin:hover {
    background-color:#007bb6
  }
  .social-icons a.dribbble:hover {
    background-color:#ea4c89
  }
  @media (max-width:767px) {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }

@media (max-width:375px) {

  #logo {
    width: 235px;
    margin-left: 14px;
  }
}

@media (max-width:321px) {

  #logo {
    width: 188px;
    margin-left: 11px;
  }
}