@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

/* Gerais */

body {
    font-size: 'Roboto', sans-serif;
}
.row {
    margin: 0;
}
.container {
    padding: 70px 0;
}
p, li {
    color: #444;
    font-size: 14px;
}

/* Barra de Navegação */

.navbar-toggler-icon {
  background-image: url(../img/menu-icon.png);
}

header, .navbar {
    background-color: #1F2746;
}
#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}
#logo {
  width: 200px;
  margin-left: 71px;
}
.navbar-brand {
    padding: 0;
    color: #fff;
}
.navbar-brand:hover {
    color: #fff;
}
#navbar-links a {
    color: #fff;
}
#navbar-links a:hover {
  color: #b1a6a6;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}



/* BG */


.container-fluid {
  padding: 0;
}
.bg {
  width: 100%;
  height: 650px;
  background-image: url(../img/img03.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.flex {
	display: flex;
  margin-left: 285px;
  width: 649px;
  margin-top: 60px;
}
.res p {
	text-align: center;
    margin: auto;
    padding: 11px;
    font-size: 23px;
    color: white;
	font-family: 'Oswald', sans-serif;
}


/*--------------------Primeira página de resevas--------------------------*/

.reserva1-mobile {
  display: none;
}

/*--------------------Primeira página de resevas--------------------------*/

.reserva1 {
	position: absolute;
	margin: auto;
	width: 1000px;
  height: 300px;
  margin-left: 175px;
	background-color: rgba(31,39,70,0.9);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	color: white;
	font-size: 16px;
}


input {
	margin-top: 30px;
    margin-left: 26px;
}
label {
	margin-left: 26px;
}
.from {
	margin-left: 19px;
}
.to {
	margin-left: 374px;
}
.cabin-class {
	margin-left: 398px;
}
.departure {
	margin-left: 14px;
}
.return {
	margin-left: 164px;
}
.adults {
	margin-left: 152px;
}
.children {
	margin-left: 89px;
}

.buscar {
	padding: 15px 36px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
	background-color: rgb(186, 32, 119);
	color: white;
	font-size: 18px;
	border-radius: 40px;
}

.buscar:hover {
	display: inline-block;
	transform: scale(0.98);
}

.input {
	width: 360px;
  height: 47px;
  margin: 15px;
  margin-right: 35px;
	font-size: 15px;
	padding: 5px;
}

.cabin {
	width: 120px;
	height: 50px;
	margin: 15px;
	font-size: 15px;
	padding: 5px;

}
.input2 {
	width: 130px;
  height: 35px;
  margin: 15px;
  margin-right: 35px;
	font-size: 15px;
	padding: 5px;
}



/*--------------------Segunda página de resevas--------------------------*/



.reserva2 {
	display: none;
	position: absolute;
	margin: auto;
	width: 1000px;
  height: 300px;
  margin-left: 175px;
	background-color: rgba(31,39,70,0.9);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	color: white;
	font-size: 16px;
}
/*--------------------------Ajustes das Label-----------------------------*/
.destino {
	margin-left: 19px;
}
.quartos {
	margin-left: 326px;
}
.classificacao {
	margin-left: 328px;
}
.chegada {
	margin-left: 19px;
}
.saida {
	margin-left: 138px;
}
.input-reserva2 {
	width: 325px;
  height: 47px;
  margin: 15px;
  margin-right: 35px;
	font-size: 15px;
	padding: 5px;
}
.estrelas {
	width: 120px;
	height: 50px;
	margin: 15px;
	font-size: 15px;
	padding: 5px;

}
.buscar-h {
	padding: 15px 7px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
	background-color: rgb(186, 32, 119);
	color: white;
	font-size: 16px;
	border-radius: 40px;
}

.buscar-h:hover {
	display: inline-block;
	transform: scale(0.98);
}



/*--------------------Terceira página de resevas--------------------------*/




.reserva3 {
	display: none;
	position: absolute;
	margin: auto;
	width: 1000px;
  height: 300px;
  margin-left: 175px;
	background-color: rgba(31,39,70,0.9);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	color: white;
	font-size: 16px;
}

#menu1 {
	width: 147px;
  height: 53px;
  margin-left: -125px;
	background-color: rgba(31,39,70,0.9);
	border-top-left-radius: 20px;
	cursor: pointer;
	margin-top: 100px;
}

.res {
	width: 147px;
  height: 53px;
	background-color: #22A9BF;
	border-top-left-radius: 20px;
	cursor: pointer;
	margin-top: 100px;

}



/* Ofertas */



#about-area {
  background-color: #f9f9f9;
}
.second {
	height: 400px;
	width: 100%;
}
.second-text {
	color: #6A6666;
	font-size: 27px;
	margin-left: 26px;
	padding: 20px;
}
.img1 {
	width: 538px;
  height: 289px;
	border-radius: 25px;
	margin-left: 26px;
}
.img2 {
	width: 350px;
  height: 289px;
	border-radius: 25px;
	margin-left: 26px;
}
.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}




/* Dados da empresa */



.circle-box div {
    padding: 0 40px;
}
.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}
#data-area p {
    color: #FFF;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/* Viage pelo Brasil */

.card-body {
    text-align: center;
}





/* Gallery */


.gallery {
	width: 100%;
	display: grid;
	grid-auto-flow: dense;
	grid-template: 	"1fr 1fr 1fr 1fr 1fr" 33.33vh
				        	"1fr 1fr 1fr 1fr 1fr" 33.33vh
					        "1fr 1fr 1fr 1fr 1fr" 33.33vh;
	margin-bottom: 10px;
}
.gallery .box {
	position: relative;
}

.gallery .box img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.gallery .box.a {
	grid-row: span 2;
}
.gallery .box.b,
.gallery .box.f,
.gallery .box.h,
.gallery .box.j {
	grid-column: span 2;
}



/* Footer */



.site-footer {
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr {
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small {
  margin:20px 0
}
.site-footer h6 {
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.pague {
  width: 319px;
  margin-left: -28px;
  margin-top: 37px;
}
.site-footer a {
  color:#737373;
}
.site-footer a:hover {
  color:#3366cc;
  text-decoration:none;
}
.footer-links {
  padding-left:0;
  list-style:none
}
.footer-links li {
  display:block
}
.footer-links a {
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li {
  display:inline-block
}
.site-footer .social-icons {
  text-align:right
}
.site-footer .social-icons a {
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text {
  margin:0
}
@media (max-width:991px) {
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px) {
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons {
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li {
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title {
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a {
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover {
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a {
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover {
  background-color:#3b5998
}
.social-icons a.twitter:hover {
  background-color:#00aced
}
.social-icons a.linkedin:hover {
  background-color:#007bb6
}
.social-icons a.dribbble:hover {
  background-color:#ea4c89
}
@media (max-width:767px) {
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


/* @Media Query */



@media (max-width:1170px) {

  .reserva1 {
    position: absolute;
    margin: auto;
    width: 850px;
    height: 300px;
    margin-left: 175px;
    background-color: rgba(31,39,70,0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 16px;
  }
  input {
    margin-top: 30px;
      margin-left: 26px;
  }
  label {
    margin-left: 26px;
  }
  .from {
    margin-left: 19px;
  }
  .to {
    margin-left: 284px;
  }
  .cabin-class {
    margin-left: 313px;
  }
  .departure {
    margin-left: 14px;
  }
  .return {
    margin-left: 140px;
  }
  .adults {
    margin-left: 123px;
  }
  .children {
    margin-left: 64px;
  }
  .buscar {
    padding: 15px 36px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: rgb(186, 32, 119);
    color: white;
    font-size: 18px;
    border-radius: 40px;
  }
  .buscar:hover {
    display: inline-block;
    transform: scale(0.98);
  }
  .input {
    width: 272px;
    height: 47px;
    margin: 15px;
    margin-right: 35px;
    font-size: 16px;
    padding: 5px;
  }
  .cabin {
    width: 120px;
    height: 50px;
    margin: 15px;
    font-size: 15px;
    padding: 5px;
  }
  .input2 {
    width: 112px;
    height: 35px;
    margin: 15px;
    margin-right: 28px;
    font-size: 11px;
    padding: 5px;
  }
  .reserva2 {
    position: absolute;
    margin: auto;
    width: 850px;
    height: 300px;
    margin-left: 175px;
    background-color: rgba(31,39,70,0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 16px;
  }
  .destino {
    margin-left: 19px;
  }
  .quartos {
    margin-left: 225px;
  }
  .classificacao {
    margin-left: 227px;
  }
  .chegada {
    margin-left: 19px;
  }
  .saida {
    margin-left: 93px;
  }
  .input-reserva2 {
    width: 230px;
    height: 47px;
    margin: 15px;
    margin-right: 35px;
    font-size: 14px;
    padding: 5px;
  }
  .estrelas {
    width: 120px;
    height: 50px;
    margin: 15px;
    font-size: 15px;
    padding: 5px;

  }
  .buscar-h {
    padding: 15px 7px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: rgb(186, 32, 119);
    color: white;
    font-size: 16px;
    border-radius: 40px;
  }
  .reserva3 {
    position: absolute;
    margin: auto;
    width: 850px;
    height: 300px;
    margin-left: 175px;
    background-color: rgba(31,39,70,0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 16px;
  }

  .second {
    height: 400px;
    width: 100%;
  }
  .second-text {
    color: #6A6666;
    font-size: 27px;
    margin-left: 26px;
    padding: 20px;
  }
  .img1 {
    width: 411px;
      height: 289px;
    border-radius: 25px;
    margin-left: 26px;
  }
  .img2 {
    width: 300px;
    height: 289px;
    border-radius: 25px;
    margin-left: 26px;
  }
}

@media (max-width:1000px) {

  .reserva1 {
    position: absolute;
    margin: auto;
    width: 710px;
    height: 350px;
    margin-left: 175px;
    background-color: rgba(31,39,70,0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 16px;
  }
  input {
    margin-top: 30px;
    margin-left: 26px;
  }
  label {
    margin-left: 26px;
  }
  .from {
    margin-left: 19px;
  }
  .to {
    margin-left: 213px;
  }
  .cabin-class {
    margin-left: 236px;
  }
  .departure {
    margin-left: 14px;
  }
  .return {
    margin-left: 150px;
  }
  .adults {
    margin-left: 137px;
  }
  .children {
    margin-left: 74px;
  }
  .buscar {
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: rgb(186, 32, 119);
    color: white;
    font-size: 18px;
    border-radius: 40px;
  }
  .buscar:hover {
    transform: scale(1);
  }
  .input {
    width: 200px;
    height: 47px;
    margin: 15px;
    margin-right: 35px;
    font-size: 15px;
    padding: 5px;
  }
  .cabin {
    width: 120px;
    height: 50px;
    margin: 15px;
    font-size: 15px;
    padding: 5px;
   }
  .input2 {
    width: 117px;
    height: 35px;
    margin: 15px;
    margin-right: 35px;
    font-size: 11px;
    margin-bottom: 30px;
  }

  .reserva2 {
    position: absolute;
    margin: auto;
    width: 710px;
    height: 350px;
    margin-left: 175px;
    background-color: rgba(31,39,70,0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 16px;
  }
  .destino {
    margin-left: 19px;
  }
  .quartos {
    margin-left: 195px;
  }
  .classificacao {
    margin-left: 190px;
  }
  .chegada {
    margin-left: 19px;
  }
  .saida {
    margin-left: 107px;
  }
  .input-reserva2 {
    width: 198px;
    height: 47px;
    margin: 15px;
    margin-right: 35px;
    font-size: 14px;
    padding: 5px;
  }
  .estrelas {
    width: 120px;
    height: 50px;
    margin: 15px;
    font-size: 15px;
    padding: 5px;
  
  }
  .buscar-h {
    padding: 12px 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: rgb(186, 32, 119);
    color: white;
    font-size: 12px;
    border-radius: 40px;
  }
  .buscar-h:hover {
    display: inline-block;
    transform: scale(0.98);
  }
  .reserva3 {
    position: absolute;
    margin: auto;
    width: 710px;
    height: 350px;
    margin-left: 175px;
    background-color: rgba(31,39,70,0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 16px;
  }
  .second {
    height: 400px;
    width: 100%;
  }
  .second-text {
    color: #6A6666;
    font-size: 27px;
    margin-left: 26px;
    padding: 20px;
  }
  .img1 {
    width: 340px;
    height: 250px;
    border-radius: 25px;
    margin-left: 26px;
  }
  .img2 {
    width: 254px;
    height: 250px;
    border-radius: 25px;
    margin-left: 26px;
  }
}

@media (max-width:934px) {

  .flex {
    display: flex;
    margin-left: 210px;
    width: 388px;
    margin-top: 30px;
  }
  .reserva1 {
    position: absolute;
    margin: auto;
    width: 500px;
    height: 405px;
    margin-left: 100px;
    background-color: rgba(31,39,70,0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 16px;
  }
  .input {
    width: 110px;
    height: 47px;
    margin: 15px;
    margin-right: 35px;
    font-size: 10px;
    padding: 0px;
  }
  .to {
    margin-left: 127px;
  }
  .cabin-class {
    margin-left: 145px;
  }
  .adults {
    margin-left: -203px;
    position: absolute;
    margin-top: 90px;
  }
  .children {
    margin-left: -31px;
    position: absolute;
    margin-top: 90px;
  }
  .reserva2 {
    position: absolute;
    margin: auto;
    width: 500px;
    height: 405px;
    margin-left: 100px;
    background-color: rgba(31,39,70,0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 16px;
  }
  .input-reserva2 {
    width: 100px;
    height: 47px;
    margin: 15px;
    margin-right: 35px;
    font-size: 10px;
    padding: 3px;
  }
  .quartos {
    margin-left: 95px;
  }
  .classificacao {
    margin-left: 77px;
  }
  .reserva3 {
    position: absolute;
    margin: auto;
    width: 500px;
    height: 405px;
    margin-left: 100px;
    background-color: rgba(31,39,70,0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 16px;
  }
  .img1 {
    width: 250px;
    height: 250px;
    border-radius: 25px;
    margin-left: 26px;
  }
  .img2 {
    width: 202px;
    height: 250px;
    border-radius: 25px;
    margin-left: 26px;
  }
  .gallery {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template:
        "1fr 1fr 1fr 1fr 1fr" 53.33vh
        "1fr 1fr 1fr 1fr 1fr" 53.33vh
        "1fr 1fr 1fr 1fr 1fr" 53.33vh;
    margin-bottom: 10px;
  }
}

@media (max-width:425px) {

  .bg {
    width: 100%;
    height: 680px;
    background-image: url(../img/img03.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  .flex {
    display: flex;
    margin-left: 117px;
    width: 167px;
    margin-top: 30px;
  }
  .reserva1 {
    position: absolute;
    width: 411px;
    height: 482px;
    margin-left: 7px;
    background-color: rgba(31,39,70,0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 10px;
  }
  .input {
    width: 154px;
    height: 47px;
    margin: 15px;
    margin-right: 35px;
    font-size: 10px;
    padding: 0px;
  }
  .cabin {
    width: 363px;
    height: 50px;
    margin: 15px;
    font-size: 15px;
    padding: 5px;
  }
  .to {
    margin-left: 184px;
  }
  .cabin-class {
    margin-left: -218px;
    margin-top: 91px;
    position: absolute;
  }
  .return {
    margin-left: 158px;
  }
  .adults {
    margin-left: -192px;
    position: absolute;
    margin-top: 90px;
  }
  .children {
    margin-left: -22px;
    position: absolute;
    margin-top: 90px;
  }
  .buscar {
    padding: 9px 153px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: rgb(186, 32, 119);
    color: white;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 40px;
  }

  .reserva2 {
    position: absolute;
    width: 411px;
    height: 482px;
    margin-left: 7px;
    background-color: rgba(31,39,70,0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 10px;
  }
  .input-reserva2 {
    width: 154px;
    height: 47px;
    margin: 15px;
    margin-right: 35px;
    font-size: 10px;
    padding: 3px;
  }
  .estrelas {
    width: 361px;
  }
  .quartos {
    margin-left: 168px;
  }
  .classificacao {
    margin-left: -238px;
    position: absolute;
    margin-top: 90px;
  }
  .saida {
    margin-left: 130px;
  }
  .buscar-h {
    padding: 12px 130px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: rgb(186, 32, 119);
    color: white;
    font-size: 12px;
    margin-left: 14px;
    border-radius: 40px;
  }

  .reserva3 {
    position: absolute;
    width: 411px;
    height: 350px;
    margin-left: 7px;
    background-color: rgba(31,39,70,0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 10px;
  }
  .b-c {
    padding: 12px 130px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: rgb(186, 32, 119);
    color: white;
    font-size: 12px;
    margin-left: 14px;
    border-radius: 40px;
  }

  .second {
    height: 610px;
    width: 100%;
  }
  .img1 {
    width: 356px;
    height: 221px;
    margin-bottom: 22px;
    margin-top: -118px;
    border-radius: 25px;
    margin-left: 26px;
  }
  .img2 {
    width: 356px;
    height: 220px;
    margin-bottom: 22px;
    border-radius: 25px;
    margin-left: 26px;
  }
}

@media (max-width:375px) {

  #logo {
    width: 136px;
    margin-left: 71px;
  }
  .flex {
    display: flex;
    margin-left: 140px;
    width: 167px;
    margin-top: 30px;
  }
  .reserva1 {
    position: absolute;
    width: 300px;
    height: 482px;
    margin-left: 30px;
    background-color: rgba(31,39,70,0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 10px;
  }
  .input {
    width: 97px;
    height: 47px;
    margin: 15px;
    margin-right: 35px;
    font-size: 10px;
    padding: 0px;
  }
  .cabin {
    width: 252px;
    height: 50px;
    margin: 15px;
    font-size: 15px;
    padding: 5px;
  }
  .to {
    margin-left: 126px;
  }
  .cabin-class {
    margin-left: -163px;
    margin-top: 91px;
    position: absolute;
  }
  .return {
    margin-left: 140px;
  }
  .adults {
    margin-left: -173px;
    position: absolute;
    margin-top: 90px;
  }
  .input2 {
    width: 97px;
    height: 35px;
    margin: 15px;
    margin-right: 35px;
    font-size: 11px;
    margin-bottom: 30px;
  }
  .buscar {
    padding: 9px 102px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: rgb(186, 32, 119);
    color: white;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 40px;
  }

  .reserva2 {
    position: absolute;
    width: 300px;
    height: 482px;
    margin-left: 30px;
    background-color: rgba(31,39,70,0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 10px;
  }
  .input-reserva2 {
    width: 97px;
    height: 47px;
    margin: 15px;
    margin-right: 35px;
    font-size: 10px;
    padding: 3px;
  }
  .quartos {
    margin-left: 113px;
  }
  .classificacao {
    margin-left: -186px;
    position: absolute;
    margin-top: 90px;
  }
  .estrelas {
    width: 252px;
  }
  .buscar-h {
    padding: 12px 74px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: rgb(186, 32, 119);
    color: white;
    font-size: 12px;
    margin-left: 17px;
    border-radius: 40px;
  }

  .reserva3 {
    position: absolute;
    width: 300px;
    height: 350px;
    margin-left: 30px;
    background-color: rgba(31,39,70,0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 10px;
  }
  .b-c {
    padding: 12px 72px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: rgb(186, 32, 119);
    color: white;
    font-size: 12px;
    margin-left: 18px;
    border-radius: 40px;
  }
  .img1 {
    width: 330px;
  }
  .img2 {
    width: 330px;
  }
}


@media (max-width:321px) {

  #logo {
    width: 136px;
    margin-left: 71px;
  }
  .flex {
    display: flex;
    margin-left: 117px;
    width: 167px;
    margin-top: 30px;
  }
  .reserva1 {
    position: absolute;
    width: 300px;
    height: 482px;
    margin-left: 7px;
    background-color: rgba(31,39,70,0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 10px;
  }
  .input {
    width: 97px;
    height: 47px;
    margin: 15px;
    margin-right: 35px;
    font-size: 10px;
    padding: 0px;
  }
  .cabin {
    width: 252px;
    height: 50px;
    margin: 15px;
    font-size: 15px;
    padding: 5px;
  }
  .to {
    margin-left: 126px;
  }
  .cabin-class {
    margin-left: -163px;
    margin-top: 91px;
    position: absolute;
  }
  .return {
    margin-left: 140px;
  }
  .adults {
    margin-left: -173px;
    position: absolute;
    margin-top: 90px;
  }
  .input2 {
    width: 97px;
    height: 35px;
    margin: 15px;
    margin-right: 35px;
    font-size: 11px;
    margin-bottom: 30px;
  }
  .buscar {
    padding: 9px 102px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: rgb(186, 32, 119);
    color: white;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 40px;
  }

  .reserva2 {
    position: absolute;
    width: 300px;
    height: 482px;
    margin-left: 7px;
    background-color: rgba(31,39,70,0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 10px;
  }
  .input-reserva2 {
    width: 97px;
    height: 47px;
    margin: 15px;
    margin-right: 35px;
    font-size: 10px;
    padding: 3px;
  }
  .quartos {
    margin-left: 113px;
  }
  .classificacao {
    margin-left: -186px;
    position: absolute;
    margin-top: 90px;
  }
  .estrelas {
    width: 252px;
  }
  .buscar-h {
    padding: 12px 74px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: rgb(186, 32, 119);
    color: white;
    font-size: 12px;
    margin-left: 17px;
    border-radius: 40px;
  }

  .reserva3 {
    position: absolute;
    width: 300px;
    height: 350px;
    margin-left: 7px;
    background-color: rgba(31,39,70,0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-size: 10px;
  }
  .b-c {
    padding: 12px 72px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: rgb(186, 32, 119);
    color: white;
    font-size: 12px;
    margin-left: 18px;
    border-radius: 40px;
  }
  .img1 {
    width: 280px;
  }
  .img2 {
    width: 280px;
  }
}