@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

/* Gerais */

body {
	font-size: 'Roboto', sans-serif;
}
.row {
    margin: 0;
}
p, li {
    color: #444;
    font-size: 14px;
}

/* Barra de Navegação */

.navbar-toggler-icon {
    background-image: url(../img/menu-icon.png);
  }
  
  header, .navbar {
      background-color: #1F2746;
  }
  #nav-container {
      padding-top: 0;
      padding-bottom: 0;
  }
  #logo {
    width: 200px;
    margin-left: 71px;
  }
  .navbar-brand {
      padding: 0;
      color: #fff;
  }
  .navbar-brand:hover {
      color: #fff;
  }
  #navbar-links a {
      color: #fff;
  }
  #navbar-links a:hover {
    color: #b1a6a6;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
      padding: 1rem .8rem;
  }
  
  
  
  /* BG */

.paralax{
  background-image: url(../img/001.jpg);
  background-size: cover;
  background-attachment: fixed;
}



.container {
  margin-bottom: 50px;
}
.main-title {
  color: #444;
  margin: 126px 0 65px 0;
  font-size: 40px;
  text-align: center;
}
.slide {
    margin-top: 10px;
    margin-bottom: 40px;
}


.container-fluid {
    padding: 0;
}
#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 350px;
    margin-top: 15px;
}
#mainSlider .carousel-caption {
    top: 30%;
}
#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}
#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #fff;
}
.main-btn {
    background-color: #65daf9;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}
.main-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-color: #65daf9;
}

.carousel-indicators .active {
    background-color: #1F2746;
}
.box-title {
  height: 337px;
  background-color: #e8e5e4;
  margin-top: 28px;
}
h4{
  a
}

h3 {
  padding: 26px;
  font-size: 20px;
}
.buscar {
  padding: 15px 36px;
  margin-left: 130px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
	background-color: rgb(186, 32, 119);
	color: white;
	font-size: 18px;
	border-radius: 40px;
}
a:hover {
  color: white;
  text-decoration: none;
}

.buscar:hover {
  display: inline-block;
	transform: scale(.87);
}


  /* Footer */



.site-footer {
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
  }
  .site-footer hr {
    border-top-color:#bbb;
    opacity:0.5
  }
  .site-footer hr.small {
    margin:20px 0
  }
  .site-footer h6 {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  .pague {
    width: 319px;
    margin-left: -28px;
    margin-top: 37px;
  }
  .site-footer a {
    color:#737373;
  }
  .site-footer a:hover {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links {
    padding-left:0;
    list-style:none
  }
  .footer-links li {
    display:block
  }
  .footer-links a {
    color:#737373
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links.inline li {
    display:inline-block
  }
  .site-footer .social-icons {
    text-align:right
  }
  .site-footer .social-icons a {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  .copyright-text {
    margin:0
  }
  @media (max-width:991px) {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px) {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }
  .social-icons {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a {
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover {
    background-color:#00aced
  }
  .social-icons a.linkedin:hover {
    background-color:#007bb6
  }
  .social-icons a.dribbble:hover {
    background-color:#ea4c89
  }
  @media (max-width:767px) {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }

@media (max-width: 376px) {
  #logo {
    width: 235px;
    margin-left: 14px;
  }
  .main-title {
    color: #444;
    margin: 86px 0 -22px 0;
    font-size: 40px;
    text-align: center;
  }
  .box-title {
    height: 387px;
    background-color: #e8e5e4;
    margin-top: 28px;
  }
  .buscar {
    margin-left: 76px;
  }
}

@media (max-width: 321px) {
  #logo {
    width: 188px;
    margin-left: 11px;
  }
  .main-title {
    color: #444;
    margin: 75px 0 -26px 0;
    font-size: 30px;
    text-align: center;
  }
  .box-title {
    height: 450px;
    background-color: #e8e5e4;
    margin-top: 28px;
  }
  .buscar {
    margin-left: 53px;
  }
}